
.blur-background {
  opacity: 5.5;
  z-index: -1; 
}
#typewrite2 {

 font-family: cursive;
  color: white;
  text-shadow: hotpink 0.1em 0.1em 0.2em;
  overflow: hidden; 
  border-right: .001em solid rgb(43, 41, 39); 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 4s steps(40, end), 
    blink-caret .75s step-end infinite; 
}


@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}


@keyframes blink-caret {
  from, to { border-color: transparent; }
  10% { border-color: orange; }
}

#typewrite {
  color:hotpink;
  text-shadow:  blue.1em 0.1em 0.2em;
  display: inline-block; 
  overflow: hidden; 
}


#typewrite {
  display: inline-block;
  white-space: nowrap; 
  overflow: hidden; 
  border-right: .15em solid orange; 
  letter-spacing: .15em; 
  animation: 
    typing 6s steps(40, end) infinite, 
    blink-caret .75s step-end infinite; 

}


@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}


@keyframes blink-caret {
  from, to { border-color: transparent; }
  30% { border-color: rgb(160, 154, 144); }
}

.container {
  max-width: 1200px; /* Set the maximum width for the container */
  margin: 0 auto; /* Center the container horizontally */
  padding: 0 20px; /* Add some padding on the left and right sides */
  box-sizing: border-box; /* Ensure padding does not affect the width */
  z-index: -1;
}
.countdown-container{
  border-width: 5px;
  border-radius: 5%;
  box-shadow: pink 2.1em 0.5em 0.2em;
}

.countdown-container {
  position: relative;
  z-index: 1;
}

.countdown-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  z-index: -1;
}

h2{
  color: whitesmoke;
  font-size: 50px;
  text-shadow: black 0.1em 0.1em 0.2em;
}

p{
  text-align: justify;
  color: black;
  text-shadow: hotpink 0.1em 0.1em 0.2em;
}

h1{
  font-size: medium;
  background-color: rgb(255, 105, 180, 0.5);
  box-shadow: gray 0.1em 0.1em 0.2em;
  border-radius: 3%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: #fff;
}

.flip-card-front {
  background-color: lightcoral;
}

.flip-card-back {
  background-color:cyan;

  transform: rotateY(180deg);
}




.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 350px;
  width: 13rem;
  overflow: hidden;
  height: 3rem;
  background-size: 300% 300%;
  cursor: pointer;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 4px transparent;
  background-image: linear-gradient(#212121, #212121),
    linear-gradient(
      137.48deg,
      #ffdb3b 10%,
      #fe53bb 45%,
      #8f51ea 67%,
      #0044ff 87%
    );
  background-origin: border-box;
  background-clip: content-box, border-box;
}

#container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
}

strong {
  z-index: 2;
  font-family: "Avalors Personal Use";
  font-size: 12px;
  letter-spacing: 5px;
  color: #ffffff;
  text-shadow: 0 0 4px white;
}

#glow {
  position: absolute;
  display: flex;
  width: 12rem;
}

.circle {
  width: 100%;
  height: 30px;
  filter: blur(2rem);
  animation: pulse_3011 4s infinite;
  z-index: -1;
}

.circle:nth-of-type(1) {
  background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
  background: rgba(142, 81, 234, 0.704);
}

.btn:hover #container-stars {
  z-index: 1;
  background-color: #212121;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:active {
  border: double 4px #fe53bb;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.btn:active .circle {
  background: #fe53bb;
}

#stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

#stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

#stars::after {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}

#stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

#stars::before {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
